.problem {
    background-image: url("../images/ourmission.gif");
    height: 400px;
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    color: white; /* Set text color to white for better visibility */
    padding: 20px; /* Optional: add some padding */
    background-size: cover;
    margin-left: 5px;
    margin-right: 7px;
    border-radius: 10px;
}

.problem h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}