.videocontainer{

    background-image: url("../images/security.gif");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.videocontainer h1{

    color: white;
    font-family: league spartan;
    font-weight: bold;
    font-size: 60px;
    padding-top: 270px;
}

.videocontainer h3{

    background-color: red;
    width: 700px;
    font-size: 50px;
    color: white;
}


@media (max-width: 320px) {
    
    
    .videocontainer{
        
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 300px;
    height: 300px;
   }

   .videocontainer h1{
    padding-top: 70px;
    color: white;
    font-family: league spartan;
    font-size: 25px
}
    
}
