


.datasection11{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Default font size for larger screens */
.init-ai-sectionIns1:nth-child(1) {
    font-size: 3rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .init-ai-sectionIns1:nth-child(1) {
        font-size: 1rem; /* Adjust this value as needed */
    }
}

.init-red-bg {
    background: red;
}

.Ins1{
    padding-right: 42%;
}

.Indusfirst li{
    padding-left: 35%;
    margin: 1%;
    font-size: 20px;
}


#poweredby div{

    border-radius: 10px;
}
