.video-container{

    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video{

    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.overlay-text{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    columns: white;
    text-align: center;
    z-index: 10;
    padding: 20px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.overlay-text h1{

    font-size: 2.5 rem;
    margin: 0;
   
}

#manufacturing{

    height: 300px;
    /* background-color: blue; */
    background-image: url("../images/manufacturing.jpg");
    width: 300px;
    background-size: cover;
}
#bfsi{

    height: 300px;
    /* background-color: blue; */
    background-image: url("../images/manufacturing.jpg");
    width: 300px;
    background-size: cover;
}
#callcenter{
    
    height: 300px;
    /* background-color: blue; */
    background-image: url("../images/manufacturing.jpg");
    width: 300px;
    background-size: cover;
}
#media{

    height: 300px;
    /* background-color: blue; */
    background-image: url("../images/manufacturing.jpg");
    width: 300px;
    background-size: cover;
}
#it{
    
    height: 300px;
    /* background-color: blue; */
    background-image: url("../images/manufacturing.jpg");
    width: 300px;
    background-size: cover;
}

img{
    
    height: 300px;
    width: 300px;
}



.dataaisection11{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

#manufacturing p{
    display: none;
    height: 300px;
    font-size: 20px;
    color: white;
    text-align: center;
}


#manufacturing:hover p{
    display: block;
    background-color: rgba(0, 0, 255, 0.126);
}

#bfsi p{
    display: none;
    height: 300px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#bfsi:hover p{
    display: block;
    background-color: rgba(0, 0, 255, 0.126);
}

#media p{
    display: none;
    height: 300px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#media:hover p{
    display: block;
    background-color: rgba(0, 0, 255, 0.126);
}

#it:hover p{
    display: block;
    background-color: rgba(0, 0, 255, 0.126);
    
}

#it p{
    display: none;
    height: 300px;
    font-size: 20px;
    text-align: center;
    color: white;
}


#callcenter:hover p{
    display: block;
    background-color: rgba(0, 0, 255, 0.322);
}

#callcenter p{
    display: none;
    text-align: center;
    height: 300px;
    font-size: 20px;
    color: white;
}

.dataaisection10 div{
    
    height: 300px;
    width: 300px;
    
}

.dataaisection10{

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.dataaisection10{
    text-align: center;
}

#watsonxai{
    
    background-image: url("../images/watsonx.png");
    width: 300px;
    background-size: cover;
}

#watsaonxdata{
    
    background-image: url("../images/watsonx.png");
    width: 300px;
    background-size: cover;
}


#watsaonxgovernance{
    
    background-image: url("../images/watsonx.png");
    width: 300px;
    background-size: cover;
}

#redhat{
    
    
    background-image: url("../images/redhat.png");
    width: 300px;
    background-size: cover;
}

.dataaisection3 img:hover, 
.dataaisection4 img:hover, 
.dataaisection5 img:hover, 
.dataaisection6 img:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    transition: 1s;
}

.dataaisection1 p{
    
    font-size: 40px;
    margin-left: 50px;
    font-family: "league spartan";
}

.about_watson h3{
    font-family: league spartan;
    font-weight: bold;
    font-size: 50px;
}

.about_watson h3,p{

    margin-left: 30px;
}


.dataaisection3 img, 
.dataaisection4 img, 
.dataaisection5 img, 
.dataaisection6 img {
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    transition: 1s;
}

@media (max-width: 320px) {
 
    .dataaisection11{

        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        justify-content: center;
    }
    
    .dataaisection1 p{
        
        font-size: 50px;
    }
    
    img{
        
        width: 200px;
    }
    
    .dataaisection10{
        
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 10px;
    }

    .dataaisection1 p{

        font-size: 20px;
    }

   
    
}




.carousel-item img {
    height: 500px; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio */
  }
  


