.videocontainer{

    background-image: url("../images/home.gif");
    background-repeat: no-repeat;
    background-size: fit;
}

.videocontainer h1{

    color: white;
    font-family: league spartan;
    font-weight: bold;
    font-size: 60px;
    padding-top: 270px;
}


@media (max-width: 320px) {
    
/*     
    .videocontainer{
        
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 300px;
    height: 300px;
   } */

   .videocontainer h1{
    padding-top: 70px;
    color: white;
    font-family: league spartan;
    font-size: 25px
}

}


@media (max-width: 768px) {
    
    /*     
        .videocontainer{
            
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 300px;
        height: 300px;
       } */
    
       .videocontainer h1{
        padding-top: 70px;
        color: white;
        font-family: league spartan;
        font-size: 25px
    }

    .videocontainer{

        width: 1000px;
    }
    
    }

