.ai-green-ss{
    position: relative;
    top: 0;
    left: 0;
}
.init-ai-section1 {
    position: absolute;
    top: 46%;
    right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 40px;
}

.init-red-bg16{

    background-color: red;
}
