.post1{

    box-shadow: 5px 5px 30px rgb(158, 155, 155);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px
}

.posts p{

    font-weight: lighter;
    font-family:  Glacial Indifference;
}

.posts h3{

    font-weight: bold;
    font-family: League sparten;
}
.post2{

    box-shadow: 5px 5px 30px rgb(158, 155, 155);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px
}
.post3{

    box-shadow: 5px 5px 30px rgb(158, 155, 155);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px
}
.post4{

    box-shadow: 5px 5px 30px rgb(158, 155, 155);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px
}
.post5{

    box-shadow: 5px 5px 30px rgb(158, 155, 155);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px
}