.arrow-button {
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left-arrow {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.right-arrow {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-button:hover {
    background-color: #f0f0f0;
}

