.nav-container{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    
    
}


#footer a{

    color: black;
    // font-weight: bold;
    font-family: league spartan;
    font-size: 20px;
    
}

#footer h5{

    text-decoration: underline;
}


#footer a:hover{

    text-decoration:underline;
    color: blue;
}


#footer video{

    opacity: 0.2;
}

@media (max-width: 320px){

    .nav-container{

        display: grid;
        grid-template-columns: auto;
        
    }
}