@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border_animation {
    0% {
        border-left-color: pink;
    }
    25% {
        border-left-color: transparent; 
        border-top-color: pink; 
    }
    50% {
        border-top-color: transparent;
        border-right-color: pink;
    }
    75% {
        border-right-color: transparent; 
        border-bottom-color: pink; 
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: pink; 
    }
}



.border-animation {
    animation: border_animation 4s infinite; /* You can adjust the duration and timing */
    border-width: 5px; /* Set border width */
    border-style: solid; /* Set border style */
    border-color: pink; /* Default border color */
}


@keyframes border_animations {
    0% {
        border-left-color: #3f649a;
    }
    25% {
        border-left-color: transparent; 
        border-top-color: #3f649a; 
    }
    50% {
        border-top-color: transparent;
        border-right-color: #3f649a;
    }
    75% {
        border-right-color: transparent; 
        border-bottom-color: #3f649a; 
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: #3f649a; 
    }
}

.animb{
    border: 6px solid #D3271f;
    height: 400px;
    width: 350px;
    animation: border_animations 3s linear infinite;
}

.animation-border {
    border: 6px solid #D3271f;
    height: 400px;
    width: 350px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    animation: border_animations 3s linear infinite;
}

.animation-border2 {
    border: 6px solid #D3271f;
    height: 400px;
    width: 350px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    animation: border_animations 3s linear infinite;
}

#details{
    font-family: league spartans;
}

img{
    border-radius: 10px;
}



h2,p,h1,h4,h5,span{
    font-family: league spartan;
    margin-left: 10px;
}


ul li{
    
    font-family: league spartan;
    font-size: 20px;
}

#products h2{

    font-size: 50px;
}
